<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<body>
    <meta charset="UTF-8">
    <head>
        <link rel = "stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
        <title>SGEA - V 1.0</title>
        <h1 class="title_format">SGEA-Sistema Gerenciador de Escritório de Arquitetura - V 1.0</h1>
        <h2 class="subtitle_mantem_format">CADASTRO DE LOJAS</h2>
    </head>
    <!-- FORMATAÇÃO DOS CAMPOS DE ENTRADA -->
    <script>
      function formatar(mascara, documento) {
        let i = documento.value.length;
        let saida = '#';
        let texto = mascara.substring(i);
        while (texto.substring(0, 1) != saida && texto.length ) {
          documento.value += texto.substring(0, 1);
          i++;
          texto = mascara.substring(i);
        }
      }
    </script>
    <!-- FUNÇÃO DE ALERTA - SOBRE O BOTÃO EXCEL/TXT -->
    <script>
       function mensagem() {
         alert("Atenção! Serão gerados um arquivo TXT e um arquivo XLSX com todas as lojas ou somente da Loja selecionada na pasta static/arquivos_txt e static/arquivos_xlsx.");
       }
    </script>
    <script>
        <!-- FUNÇÃO DE ALERTA - AO APERTAR O BOTÃO EXCLUIR - PERGUNTA -->
        function excluiregistro() {
            let text;
            if (confirm("Atenção! a loja  será excluída! Confirma a exclusão?") == true) {
                text = "Sim";
            } else {
                text = "Não";
            }
            mensagem_excluir.value=text;
        }
    </script>
    <Form action="/mantem_lojas" method="POST">
        <div>
            <label class="label_usuativo">Usuário ativo:</label>
            <input type="text" id="usuario_ativo" name="usuario_ativo" maxlength="68" readonly class="input_usuativo"  value = "{{ cod_usu_ativo + ' - ' + nome_usu_ativo }}" />
        </div>
        <br>
        <!-- DIV DOS CAMPOS DE ENTRADA -->
        <div id="campos" class="div_campos_lojas">
            <label class="label_lojas" >Código:</label>
            <input type="text" id="cod_loja" name="cod_loja" maxlength="5" value = "{{ cod_loja }}" placeholder="ID da Loja - números" class="input_lojas" autofocus tabindex = 0 pattern="[0-9]+$" />
            <label class="label_lojas" >Nome:</label>
            <input type="text" id="nome_loja" name="nome_loja" maxlength="80" value = "{{ nome_loja }}" class="input_lojas" tabindex = 1 />]
            <br>
            <label class="label_lojas" >CNPJ: </label>
            <input type="text" id="cnpj_loja" name="cnpj_loja" maxlength="19" value = "{{ cnpj_loja }}" class="input_lojas" OnKeyPress="formatar('###.###.###/####-##',this)" autofocus tabindex = 2  />
            <label class="label_lojas" >Atividade: </label>
            <input type="text" id="atividade_loja" name="atividade_loja" maxlength="30" value = "{{ atividade_loja }}" class="input_lojas" autofocus tabindex = 3  />
            <br>
            <label class="label_lojas" >Contato: </label>
            <input type="text" id="contato_loja" name="contato_loja" maxlength="50" value = "{{ contato_loja }}" class="input_lojas"  autofocus tabindex = 4  />
            <label class="label_lojas" >Fone:</label>
            <input type="text" id="fone_loja" name="fone_loja" maxlength="15" value = "{{ fone_loja }}" class="input_lojas" OnKeyPress="formatar('(##) #####-####',this)" autofocus tabindex = 5 />
            <br>
            <label class="label_lojas" >Email:</label>
            <input type="text" id="email_loja" name="email_loja" maxlength="50" value = "{{ email_loja }}" class="input_lojas" autofocus tabindex = 6 />
            <!-- INPUT OCULTO PARA MENSAGEM DE EXCLUIR -->
            <input type="text" id="mensagem_excluir" name="mensagem_excluir" hidden value = "{{ mensagem }} "/>
            <br>
            <label class="label_lojas" >Cidade:</label>
            {% if default_estados=="PR" %}
                <input type="text" id="cidade_loja" name="cidade_loja" maxlength="80" value = "{{ "Curitiba" }}" placeholder="Curitiba" class="input_lojas"  autofocus tabindex = 7 />
            {% else %}
                <input type="text" id="cidade_loja" name="cidade_loja" maxlength="80" value = "{{ cidade_loja }}" placeholder="Curitiba" class="input_lojas"  autofocus tabindex = 8 />
            {% endif %}
            <label class="label_lojas" >UF:</label>
            <!-- <select id="estados" name="estados" class="select_estados" value = "{{ uf_loja }}" autofocus tabindex = 9> -->
            <select id="estados" name="estados" class="select_estados" autofocus tabindex = 9>
            {% for value in lista_estados %}
                {% if default_estados=="PR" %}
                    <option value="{{value[0:2]}}" {% if value[0:2]==default_estados %} selected {% endif %}>{{value[0:30]}}</option>
                {% else %}
                    <option value="{{value[0:2]}}" {% if value[0:2]==uf_loja %} selected {% endif %}>{{value[0:30]}}</option>
                {% endif %}
            {% endfor %}
            </select>
            <!-- <input type="text" id="uf_loja" name="uf_loja" maxlength="02" value = "{{ uf_loja }}" class="input_estados" readonly autofocus tabindex = 10 /> -->
            <br>
            <br>
            <input type="submit" name="bt_busca_loja" value="Limpar" class="btn_manutencao" tabindex = 10>
            <input type="submit" name="bt_busca_loja" value="Localizar" class="btn_manutencao" tabindex = 11>
            <input type="submit" name="bt_busca_loja" value="Incluir" class="btn_manutencao" tabindex = 12>
            <input type="submit" name="bt_busca_loja" value="Alterar" class="btn_manutencao" tabindex = 13>
            <input type="submit" name="bt_busca_loja" value="Excluir" onclick="excluiregistro()"  class="btn_manutencao" tabindex = 14>
            <!--  <input type="submit" name="bt_busca_loja" value="Excel/TXT" onmousedown="mensagem()"  class="btn_manutencao" tabindex = 12> -->
            <input type="submit" name="bt_busca_loja" value="Excel/TXT"  class="btn_manutencao" tabindex = 15>
            <input type="submit" name="bt_busca_loja" value="Sair" class="btn_manutencao" tabindex = 16>
            {% set mensagens = get_flashed_messages() %}
            {% if mensagens %}
                {% for msg in mensagens %}
                    <p class="mensagem_alerta">{{ msg }}</p>
                {% endfor %}
            {% else %}
                {% if mens is not none %}
                    <p>{{ mens }}</p>
                {% else %}
                    <p>{{ "" }}</p>
                {% endif %}
            {% endif %}
        </div>
    </Form>
    <!-- DIV DA TABELA DOS DADOS -->
    <div>
        <p class="titulo_table" >RELAÇÃO DE LOJAS CADASTRADOS</p>
    <div/>
    <div class="div_tabela">
        <table border = 1 class="formato_table">
             <thead class="titulo_table">
                <td>Selecione</td>
                <td>ID</td>
                <td>NOME</td>
                <td>CNPJ</td>
                <td></td>
                <td>ATIVIDADE</td>
                <td>CONTATO</td>
                <td>FONE</td>
                <td>EMAIL</td>
                <td>CIDADE</td>
                <td>UF</td>
             </thead>
             {% for row in dados_lojas %}
                <tr>
                    <!-- COLOCAMOS ESTA LINHA ABAIXO PARA SELECIONAR UM REGISTRO AO PRESSIONAR O BOTÃO -->
                   <td>
                   <a href="{{ url_for('edita_loja', record_id=row['id_loja'], cod_usu_ativo = cod_usu_ativo, nome_usu_ativo = nome_usu_ativo) }}"><input type="submit" name="editar_loja" value="Ok" class="btn_sel_table"/></a>
                   </td>
                   <td>{{ row["id_loja"] }}</td>
                   <td>{{ row["nome_loja"] }}</td>
                   <td>{{ row["cnpj_loja"] }}</td>
                   <td>
                   <a href="{{ url_for('filtra_loja', atividade_loja=row['atividade_loja'], cod_usu_ativo = cod_usu_ativo, nome_usu_ativo = nome_usu_ativo) }}"><input type="submit" name="filtrar_loja" value="Filtro" class="btn_fil_table"/></a>
                   <!-- <a href="{{ url_for('filtra_loja', atividade_loja=row['atividade_loja'], cod_usu_ativo = cod_usu_ativo, nome_usu_ativo = nome_usu_ativo) }}"><input type="image" name="filtrar_loja" value="Filtrar" src="{{ url_for('static', filename='imagens/filtro_loja3.png') }}" class="btn_fil_table"/></a> -->
                   </td>
                   <td>{{ row["atividade_loja"] }}</td>
                   <td>{{ row["contato_loja"] }}</td>
                   <td>{{ row["fone_loja"] }}</td>
                   <td>{{ row["email_loja"] }}</td>
                   <td>{{ row["cidade_loja"] }}</td>
                   <td>{{ row["uf_loja"] }}</td>
                </tr>
             {% endfor %}
        </table>
    </div>
</body>
</html>