<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<body>
    <meta charset="UTF-8">
    <head>
        <link rel = "stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
        <title>SGEA - V 1.0</title>
        <h1 class="title_format">SGEA-Sistema Gerenciador de Escritório de Arquitetura - V 1.0</h1>
        <h2 class="subtitle_mantem_format">CADASTRO DE TAREFAS PROJETOS</h2>
    </head>
    <!-- FORMATAÇÃO DOS CAMPOS DE ENTRADA -->
    <script>
      function formatar(mascara, documento) {
        let i = documento.value.length;
        let saida = '#';
        let texto = mascara.substring(i);
        while (texto.substring(0, 1) != saida && texto.length ) {
          documento.value += texto.substring(0, 1);
          i++;
          texto = mascara.substring(i);
        }
      }
    </script>
    <!-- FUNÇÃO DE ALERTA - SOBRE O BOTÃO EXCEL/TXT -->
    <script>
       function mensagem() {
         alert("Atenção! Serão gerados um arquivo TXT e um arquivo XLSX com todas as tarefas ou somente da tarefa selecionada na pasta static/arquivos_txt e static/arquivos_xlsx.");
       }
    </script>
    <script>
        <!-- FUNÇÃO DE ALERTA - AO APERTAR O BOTÃO EXCLUIR - PERGUNTA -->
        function excluiregistro() {
            let text;
            if (confirm("Atenção! A tarefa será excluída. Confirma a exclusão?") == true) {
                text = "Sim";
            } else {
                text = "Não";
            }
            mensagem_excluir.value=text;
        }
    </script>
    <Form action="/mantem_tarefas" enctype="multipart/form-data" method="POST">
        <div>
            <label class="label_usuativo">Usuário ativo:</label>
            <input type="text" id="usuario_ativo" name="usuario_ativo" maxlength="68" readonly class="input_usuativo"  value = "{{ cod_usu_ativo + ' - ' + nome_usu_ativo }}" />
        </div>
        <br>
        <div id="container" class="container_tarefas">
            <!-- DIV DOS CAMPOS DE ENTRADA -->
            <div id="campos" class="div_campos_tarefas">
                <label class="label_projetos" >Código Projeto:</label>
                <input type="text" id="cod_projeto" name="cod_projeto" maxlength="5" value = "{{ cod_projeto }}" placeholder="ID do projeto - números" class="input_projeto_tarefa" autofocus tabindex = 0 pattern="[0-9]+$" />
                <br>
                <label class="label_projetos" >Nome Projeto:</label>
                <input type="text" id="nome_projeto" name="nome_projeto" maxlength="80" value = "{{ nome_projeto }}" readonly class="input_projeto_tarefa" tabindex = 1 />]
                <br>
                <!-- SELECT DE TIPOS DE PROJETOS -->
                </select>
                <label class="label_tipoprojeto" >Tipo de Projeto:</label>
                <select id="tipo_projeto" name="tipo_projeto" class="select_tipoprojeto_tarefa" autofocus tabindex = 9>
                    {% for value in lista_tipoprojeto %}
                        {% if default_tipoprojeto=="01" %}
                            <option value="{{ value[0:2] }}" {% if value[0:2]==default_tipoprojeto %} selected {% endif %}>{{value[0:30]}} </option>
                        {% else %}
                            <option value="{{ value[0:2] }}" {% if value[0:2]==id_tipo_projeto %} selected {% endif %}>{{value[0:30]}} </option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br>
                <!-- SELECT DE CLIENTES DE PROJETOS -->
                </select>
                <label class="label_tipoprojeto" >Clientes:</label>
                <select id="cliente_projeto" name="cliente_projeto" class="select_cliente_tarefa"  autofocus tabindex = 9>
                    {% for value in lista_clientes %}
                        {% if default_clientes=="01" %}
                            <option value="{{ value[0:2] }}" {% if value[0:2]==default_clientes %} selected {% endif %}>{{value[0:30]}} </option>
                        {% else %}
                            <option value="{{ value[0:2] }}" {% if value[0:2]==id_cliente %} selected {% endif %}>{{value[0:30]}} </option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br>
                <!-- SELECT DE TIPOS DE CLIENTES -->
                </select>
                <label class="label_tipoprojeto" >Tipo:</label>
                <select id="tipo_cliente" name="tipo_cliente" class="select_tipoclientetarefa" autofocus tabindex = 9>
                    {% for value in lista_tipocliente %}
                        {% if default_tipocliente=="01" %}
                            <option value="{{ value[0:2] }}" {% if value[0:2]==default_tipocliente %} selected {% endif %}>{{value[0:30]}} </option>
                        {% else %}
                            <option value="{{ value[0:2] }}" {% if value[0:2]==id_tipo_cliente %} selected {% endif %}>{{value[0:30]}} </option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br>
                <label class="label_projetos" >Código Tarefa:</label>
                <input type="text" id="cod_tarefa" name="cod_tarefa" maxlength="5" value = "{{ cod_tarefa }}" placeholder="ID da tarefa - números" class="input_projeto_tarefa" autofocus tabindex = 0 pattern="[0-9]+$" />
                <input type="submit" name="bt_busca_tarefa" value="Editar_Tarefa" class="btn_manutencao_tarefa_localiza" title="Este botão edita uma Tarefa do Projeto selecionado" tabindex = 20>
                <br>
                <label class="label_projetos" >Descrição:</label>
                <input type="text" id="desc_tarefa" name="desc_tarefa" maxlength="80" value = "{{ desc_tarefa }}" class="input_projeto_tarefa" tabindex = 1 />]
                <br>
                <label class="label_projetos" >Prazo:</label>
                <input type="text" id="tarefa_prazo" name="tarefa_prazo" maxlength="50" value = "{{ tarefa_prazo }}" class="input_projeto_tarefa"  autofocus tabindex = 10  />
                <br>
                <label class="label_projetos" >Data Início:</label>
                <input type="text" id="inicio_inicio" name="tarefa_inicio" maxlength="10" value = "{{ tarefa_inicio }}" class="input_projeto_tarefa" OnKeyPress="formatar('##/##/####',this)" autofocus tabindex = 10  />
                <br>
                <label class="label_projetos" >Data Fim:</label>
                <input type="text" id="tarefa_fim" name="tarefa_fim" maxlength="10" value = "{{ tarefa_fim }}" class="input_projeto_tarefa" OnKeyPress="formatar('##/##/####',this)" autofocus tabindex = 10  />
                <!-- INPUT OCULTO PARA MENSAGEM DE EXCLUIR -->
                <br>
                <input type="text" id="mensagem_excluir" name="mensagem_excluir" hidden value = "{{ mensagem }} "/>
                <br>
                <br>
                <input type="submit" name="bt_busca_tarefa" value="Limpar" class="btn_manutencao_tarefa" tabindex = 19>
                <input type="submit" name="bt_busca_tarefa" value="Localizar" class="btn_manutencao_projeto_localiza" title="Este botão localiza um Projeto e traz todas as tarefas associadas a ele" tabindex = 20>
                <input type="submit" name="bt_busca_tarefa" value="Incluir" class="btn_manutencao_tarefa" title="Este botão Inclui uma Tarefa ao Projeto selecionado" tabindex = 21>
                <input type="submit" name="bt_busca_tarefa" value="Alterar" class="btn_manutencao_tarefa" title="Este botão Altera uma Tarefa do Projeto selecionado" tabindex = 22>
                <input type="submit" name="bt_busca_tarefa" value="Excluir" onclick="excluiregistro()" class="btn_manutencao_tarefa" title="Este botão Exclui uma Tarefa do Projeto selecionado" tabindex = 23>
                <input type="submit" name="bt_busca_tarefa" value="Excel/TXT" class="btn_manutencao_tarefa" tabindex = 24>
                <input type="submit" name="bt_busca_tarefa" value="Sair" class="btn_manutencao_tarefa" tabindex = 28>
                {% set mensagens = get_flashed_messages() %}
                {% if mensagens %}
                    {% for msg in mensagens %}
                        <p class="mensagem_alerta">{{ msg }}</p>
                    {% endfor %}
                {% else %}
                    {% if mens is not none %}
                        <p>{{ mens }}</p>
                    {% else %}
                        <p>{{ "" }}</p>
                    {% endif %}
                {% endif %}
            </div>
            <div id="tarefas" class="div_campos_tarefas">
                <!-- DIV DA TABELA DAS TAREFAS DOS PROJETOS -->
                <div>
                    <p class="titulo_table" >RELAÇÃO DE TAREFAS DE PROJETOS CADASTRADOS</p>
                </div>
                <div class="div_tabela_tarefas">
                    <table border = 1 class="formato_table">
                         <thead class="titulo_table">
                            <td>ID PROJETO</td>
                            <td>NOME</td>
                            <td>TIPO</td>
                            <td>ID CLIENTE</td>
                            <td>TIPO CLIENTE</td>
                            <td>NOME CLIENTE</td>
                            <td>ID TAREFA</td>
                            <td>DESCRIÇÃO</td>
                            <td>PRAZO</td>
                            <td>DATA INÍCIO</td>
                            <td>DATA FIM</td>
                         </thead>
                         {% for row in dados_tarefas %}
                               <tr >
                               <td>{{ row["id_projeto"] }}</td>
                               <td>{{ row["nome_projeto"] }}</td>
                               <td>{{ row["id_tipo_projeto"] }}</td>
                               <td>{{ row["id_cliente"] }}</td>
                               <td>{{ row["id_tipo_cliente"] }}</td>
                               <td>{{ row["nome_cliente"] }}</td>
                               <td>{{ row["id_tarefa"] }}</td>
                               <td>{{ row["desc_tarefa"] }}</td>
                               <td>{{ row["tarefa_prazo"] }}</td>
                               <td>{{ row["tarefa_inicio"] }}</td>
                               <td>{{ row["tarefa_fim"] }}</td>
                            </tr>
                         {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </Form>
    <div id="projetos" class="div_campos_projetos">
        <!-- DIV DA TABELA DOS DADOS DOS PROJETOS -->
        <div>
            <p class="titulo_table" >RELAÇÃO DE PROJETOS CADASTRADOS</p>
        </div>
        <div class="div_tabela_projetos">
            <table border = 1 class="formato_table">
                 <thead class="titulo_table">
                    <td>Selecione</td>
                    <td>ID</td>
                    <td>NOME</td>
                    <td>DESCRIÇÃO</td>
                    <td>TIPO</td>
                    <td>ID CLIENTE</td>
                    <td>TIPO CLIENTE</td>
                    <td>NOME CLIENTE</td>
                    <td>CIDADE</td>
                    <td>UF</td>
                    <td>ENDEREÇO</td>
                    <td>CEP</td>
                    <td>DATA CONTATO</td>
                    <td>DATA INÍCIO</td>
                    <td>DATA FIM</td>
                    <td>RESPONSÁVEL</td>
                    <td>PRAZO</td>
                    <td>EST.PRELIMINAR INÍCIO</td>
                    <td>EST.PRELIMINAR FIM</td>
                    <td>ANTEPROJETO INÍCIO</td>
                    <td>ANTEPROJETO FIM</td>
                    <td>PROJETO LEGAL INÍCIO</td>
                    <td>PROJETO LEGAL FIM</td>
                    <td>PROJETO EXEC. INÍCIO</td>
                    <td>PROJETO EXEC. FIM</td>
                    <td>VIABILIDADE-ANDAMENTO</td>
                    <td>VIABILIDADE -PRAZO</td>
                 </thead>
                 {% for row in dados_projetos %}
                    <tr >
                        <!-- COLOCAMOS ESTA LINHA ABAIXO PARA SELECIONAR UM REGISTRO AO PRESSIONAR O BOTÃO -->
                       <td>
                       <a href="{{ url_for('edita_projetotarefa', record_id=row['id_projeto'], cod_usu_ativo = cod_usu_ativo, nome_usu_ativo = nome_usu_ativo) }}"><input type="submit" name="editar_projeto" value="Ok" class="btn_sel_table"/></a>
                       </td>
                       <td>{{ row["id_projeto"] }}</td>
                       <td>{{ row["nome_projeto"] }}</td>
                       <td >{{ row["desc_projeto"] }}</td>
                       <td>{{ row["id_tipo_projeto"] }}</td>
                       <td>{{ row["id_cliente"] }}</td>
                       <td>{{ row["id_tipo_cliente"] }}</td>
                       <td>{{ row["nome_cliente"] }}</td>
                       <td>{{ row["cidade_projeto"] }}</td>
                       <td>{{ row["uf_projeto"] }}</td>
                       <td>{{ row["endereco_projeto"] }}</td>
                       <td>{{ row["cep_projeto"] }}</td>
                       <td>{{ row["data_contato_projeto"] }}</td>
                       <td>{{ row["data_inicio_projeto"] }}</td>
                       <td>{{ row["data_fim_projeto"] }}</td>
                       <td>{{ row["usuario_projeto"] }}</td>
                       <td>{{ row["prazo_projeto"] }}</td>
                       <td>{{ row["estudo_preliminar_inicio"] }}</td>
                       <td>{{ row["estudo_preliminar_fim"] }}</td>
                       <td>{{ row["anteprojeto_inicio"] }}</td>
                       <td>{{ row["anteprojeto_fim"] }}</td>
                       <td>{{ row["projeto_legal_inicio"] }}</td>
                       <td>{{ row["projeto_legal_fim"] }}</td>
                       <td>{{ row["projeto_executivo_inicio"] }}</td>
                       <td>{{ row["projeto_executivo_fim"] }}</td>
                       <td>{{ row["viabilidade_andamento"] }}</td>
                       <td>{{ row["viabilidade_prazo"] }}</td>
                    </tr>
                 {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>